<h1>会員一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>姓</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to customer.last_name,admin_customer_path(customer.id) %>
        <%= link_to "編集", edit_admin_customer_path(customer.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

